venv/
DeviceManager/media/
DeviceManager/devices/migrations/
DeviceManager/static/js/next
*__pycache__
*db.sqlite3
DeviceManager/iot_device_checks.log
DeviceManager/iot_device_checker.log
/DeviceManager/media/*
DeviceManager/logs
