{% extends 'devices/home.html' %}
{% load static %}

{% block content %}
<div class="container-fluid mt-2 h-100 overflow-auto">

    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="sticky-top rounded" data-bs-theme="dark">
        <ol class="breadcrumb p-2 rounded card-shadow" style="background-color: #343a40;">
            <li class="breadcrumb-item"><a href="{% url 'homepage' %}" class="text-decoration-none"><i class="bi bi-house"></i> Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">
                <i class="bi bi-lightning-charge"></i>
                {% if title %} 
                    {{ title }}
                {% else %}
                    {% if user_devices %} My {% endif %}
                    Devices
                {% endif %}
            </li>
        </ol>
    </nav>

    <div id="skeletonLoader" class="skeleton-loader">
        <div class="skeleton-header"></div>
        <div class="skeleton-content">
            <div class="skeleton-item short"></div>
            <div class="skeleton-item medium"></div>
            <div class="skeleton-item long"></div>
        </div>
    </div>
    <div id="deviceListContent" class="row p-1" style="display: none;">
        <div class="col">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row align-items-center">
                        <!-- View Toggle Buttons -->
                        <div class="col-xl-3">
                            <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-sm btn-primary active" id="listViewBtn">
                                    <i class="bi bi-list-ul"></i> List View
                                </button>
                                <button type="button" class="btn btn-sm btn-primary" id="cardViewBtn">
                                    <i class="bi bi-grid-3x3-gap"></i> Card View
                                </button>
                            </div>
                            <button type="button" class="btn btn-sm btn-dark border" data-bs-toggle="modal" data-bs-target="#filtersModal">
                                <i class="bi bi-filter"></i> Filters
                            </button>
                            </div>
                        </div>
                        <hr class="d-xl-none my-2">
                        <!-- Search Fields -->
                        <div class="col-xl-9">
                            <div class="row g-2">
                                <div class="col-12 col-md-3">
                                    <input type="text" class="form-control form-control-sm" id="nameSearch" placeholder="Search by name...">
                                </div>
                                <div class="col-6 col-md-2">
                                    <input type="text" class="form-control form-control-sm" id="serialSearch" placeholder="Search by serial...">
                                </div>
                                <div class="col-6 col-md-3">
                                    <input type="text" id="ownerSearch" placeholder="Search by owner..." class="form-control form-control-sm"></th>
                                </div>
                                <div class="col-md-4">
                                    <div id="cardPagination" class="mb-0"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div id="listViewContainer">
                <div class="card mb-3">
                    <div class="card-header">
                        <h2 class="h5 mb-0">
                            {% if view_type %}
                                {{ title }}
                            {% else %}
                                {% if deleted_devices %}Deleted {% endif %}{% if user_devices %}My {% endif %}Devices List
                            {% endif %}
                        </h2>
                    </div>
                    <div class="card-body p-0">
                        {% include 'devices/device_table.html' %}
                    </div>
                </div>
            </div>

            <div id="cardViewContainer" style="display: none;">
                <!-- Card view content will go here -->
                 {% include 'devices/device_cards.html' %}
            </div>

            <div class="d-lg-none" style="padding-bottom:120px;">

            </div>
        </div>

</div>

{% include 'devices/modals/device_edit_modal.html' %}
{% include 'devices/modals/device_table_filter_modal.html' %}

{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.0.8/css/dataTables.bootstrap5.min.css">
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<!-- DataTables -->
<script type="text/javascript" src="https://cdn.datatables.net/2.0.8/js/dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/2.0.8/js/dataTables.bootstrap5.min.js"></script>
<script src="{% static 'js/device_table_no_search.js' %}"></script>
<script src="{% static 'js/device_views.js' %}"></script>
<script src="{% static 'js/device_cards.js' %}"></script>
{% endblock %}

