<div class="table-responsive">
    <table id="deviceTable" class="table table-sm table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>S/N</th>
            <th>Category</th>
            <th>Subcategory</th>
            <th>Owner</th>
            <th>Building</th>
            <th>Floor</th>
            <th>Room</th>
            <th>Actions</th>
        </tr>
        <tr class="search-row">
            <th><input type="text" placeholder="&#128269; ID" class="form-control form-control-sm"></th>
            <th><input type="text" placeholder="Search Name" class="form-control form-control-sm"></th>
            <th><input type="text" placeholder="Search S/N" class="form-control form-control-sm"></th>
            <th>
                <select id="deviceCategory" class="form-select form-select-sm">
                    <option value="">All</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </th>
            <th>
                <select id="deviceSubcategory" class="form-select form-select-sm">
                    <option value="">All</option>
                    <option value="">Choose Category first...</option>
                </select>
            </th>
            <th><input type="text" placeholder="Search Owner" class="form-control form-control-sm"></th>

            <th>
                <select id="deviceBuilding" class="form-select form-select-sm">
                    <option value="">All</option>
                    {% for building in buildings %}
                        <option value="{{ building.id }}">{{ building.acronym }}</option>
                    {% endfor %}
                </select>
            </th>
            <th>
                <select id="deviceFloor" class="form-select form-select-sm">
                    <option value="">All</option>
                    <option value="">Choose Building first...</option>
                </select>
            </th>
            <th>
                <select id="deviceRoom" class="form-select form-select-sm">
                    <option value="">All</option>
                    <option value="">Choose Building and Floor first...</option>
                </select>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for device in devices %}
        <tr>
            <td {% if not device.is_active %} class="text-muted fst-italic" {% endif %}>{{ device.id }}</td>
            <td>
                <a href='{% url 'device_detail' device.id %}' class="{% if device.is_active %}link-primary{% else %} link-danger {% endif %} link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">{{ device.name }}</a>
            </td>
            <td {% if not device.is_active %} class="text-muted fst-italic" {% endif %}>{{ device.serial_number }}</td>
            <td {% if not device.is_active %} class="text-muted fst-italic" {% endif %}>{{ device.category.name }}</td>
            <td {% if not device.is_active %} class="text-muted fst-italic" {% endif %}>{{ device.subcategory.name }}</td>
            <td {% if not device.is_active %} class="text-muted fst-italic" {% endif %}>{{ device.owner}}</td>
            <td {% if not device.is_active %} class="text-muted fst-italic" {% endif %}>{{ device.building.acronym }}</td>
            <td {% if not device.is_active %} class="text-muted fst-italic" {% endif %}>{{ device.floor.name }}</td>
            <td {% if not device.is_active %} class="text-muted fst-italic" {% endif %}>{{ device.room.name }}</td>
            <td>
                <div class="container-fluid p-0">
                    <div class="row g-1">
                        <div class="col-12 text-center">
                            {% if device.owner  == user %}
                            <div class="row">
                                <div class="col mb-1">
                                    <button class="btn btn-sm btn-warning edit-device w-100" data-device-id="{{ device.id }}" title="Edit">
                                        <i class="bi bi-pencil-fill"></i>
                                    </button>
                                </div>
                                <div class="col mb-1">
                                    <button class="btn btn-sm btn-danger delete-device w-100" data-device-id="{{ device.id }}" title="Delete">
                                        <i class="bi bi-trash-fill"></i>
                                    </button>
                                </div>
                            </div>
                            {% else %}
                                -
                            {% endif %}
                    </div>
                </div>

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>