{% extends 'devices/home.html' %}
{% load static %}

{% block content %}
<div class="container my-3 h-100" style="overflow-y: auto;">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="mb-2">
        <ol class="breadcrumb  p-1 rounded">
          <li class="breadcrumb-item"><a href="{% url 'homepage' %}" class="text-decoration-none">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Devices</li>
        </ol>
    </nav>
    <h3 class="mb-3">Device Management</h3>

    <div class="row mb-3">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h2 class="h5 mb-0">Device Actions</h2>
                </div>
                <div class="card-body">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addDeviceModal">
                        <i class="bi bi-plugin me-2"></i> Add Device
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h2 class="h5 mb-0">Device List</h2>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="deviceTable" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>S/N</th>
                        <th>Category</th>
                        <th>Subcategory</th>
                        <th>Building</th>
                        <th>Floor</th>
                        <th>Room</th>
                        <th>Actions</th>
                    </tr>
                    <tr class="search-row">
                        <th><input type="text" placeholder="&#128269; ID" class="form-control form-control-sm"></th>
                        <th><input type="text" placeholder="Search Name" class="form-control form-control-sm"></th>
                        <th><input type="text" placeholder="Search S/N" class="form-control form-control-sm"></th>
                        <th>
                            <select id="deviceCategory" class="form-select form-select-sm">
                                <option value="">All</option>
                                {% for category in categories %}
                                    <option value="{{ category.id }}">{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </th>
                        <th>
                            <select id="deviceSubcategory" class="form-select form-select-sm">
                                <option value="">All</option>
                            </select>
                        </th>
                        <th>
                            <select id="deviceBuilding" class="form-select form-select-sm">
                                <option value="">All</option>
                                {% for building in buildings %}
                                    <option value="{{ building.id }}">{{ building.acronym }}</option>
                                {% endfor %}
                            </select>
                        </th>
                        <th>
                            <select id="deviceFloor" class="form-select form-select-sm">
                                <option value="">All</option>
                            </select>
                        </th>
                        <th>
                            <select id="deviceRoom" class="form-select form-select-sm">
                                <option value="">All</option>
                            </select>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for device in devices %}
                    <tr>
                        <td>{{ device.id }}</td>
                        <td>{{ device.name }}</td>
                        <td>{{ device.serial_number }}</td>
                        <td>{{ device.category.name }}</td>
                        <td>{{ device.subcategory.name }}</td>
                        <td>{{ device.building.acronym }}</td>
                        <td>{{ device.floor.name }}</td>
                        <td>{{ device.room.name }}</td>
                        <td>
                            <div class="container-fluid p-0">
                                <div class="row g-1">
                                    <div class="col-12 mb-1">
                                        <button class="btn btn-sm btn-primary text-white w-100" onclick="window.location.href='{% url 'device_detail' device.id %}'">
                                            <i class="bi bi-eye-fill"></i> View
                                        </button>
                                    </div>
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col mb-1">
                                                <button class="btn btn-sm btn-warning edit-device w-100" data-device-id="{{ device.id }}" title="Edit">
                                                    <i class="bi bi-pencil-fill"></i>
                                                </button>
                                            </div>
                                            <div class="col mb-1">
                                                <button class="btn btn-sm btn-danger delete-device w-100" data-device-id="{{ device.id }}" title="Delete">
                                                    <i class="bi bi-trash-fill"></i>
                                                </button>
                                            </div>
                                        </div>
                                </div>
                            </div>

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div>
</div>

<!-- Add Category Modal-->
<div class="modal fade" id="addCategoryModal" tabindex="-1" aria-labelledby="addCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCategoryModalLabel">Add Category</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<!-- Add Device Modal -->
<div class="modal fade" id="addDeviceModal" tabindex="-1" aria-labelledby="addDeviceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addDeviceModalLabel">Add Device</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Form for adding a device -->
            <form id="addDeviceForm" method="post" action="{% url 'add_device' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="deviceName" class="form-label">Name</label>
                    <input type="text" class="form-control" id="deviceName" name="name" required>
                </div>

                <div class="mb-3">
                    <label for="deviceDescription" class="form-label">Description</label>
                    <textarea class="form-control" id="deviceDescription" name="description" rows="3" required></textarea>
                </div>

                <div class="mb-3">
                    <label for="deviceSerialNumber" class="form-label">Serial Number</label>
                    <input type="text" class="form-control" id="deviceSerialNumber" name="serial_number" required>
                </div>

                <div class="mb-3">
                    <label for="deviceCategoryModal" class="form-label">Category</label>
                    <select class="form-select" id="deviceCategoryModal" name="category" required>
                        {% if categories %}
                        <option value="">Select a category.</option>
                            {% for category in categories %}
                                <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                        {% else %}
                            <option value="">Please add a category first.</option>
                        {% endif %}

                        <!-- Add more options if needed -->
                    </select>
                </div>

                <div class="mb-3">
                    <label for="deviceSubcategoryModal" class="form-label">Subcategory</label>
                    <select class="form-select" id="deviceSubcategoryModal" name="subcategory" required>
                            <option value="">Select a Category first</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="deviceBuildingModal" class="form-label">Building</label>
                    <select class="form-select" id="deviceBuildingModal" name="building" required>
                        <!-- Add options for existing buildings or an option to add a new building -->
                        {% if buildings %}
                        <option value="">Select a building.</option>
                            {% for building in buildings %}
                                <option value="{{ building.id }}">{{ building.acronym }}</option>
                            {% endfor %}
                        {% else %}
                            <option value="">Please add a building first.</option>
                        {% endif %}
                    </select>
                </div>

                <div class="mb-3">
                    <label for="deviceFloorModal" class="form-label">Floor</label>
                    <select class="form-select" id="deviceFloorModal" name="floor" required>
                        <option value="">Select a Building first</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="deviceRoomModal" class="form-label">Room</label>
                    <select class="form-select" id="deviceRoomModal" name="room" required>
                        <option value="">Select a Building and a Floor first</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>

            </div>
        </div>
    </div>
</div>

<!-- Edit Device Modal -->
<div class="modal fade" id="editDeviceModal" tabindex="-1" aria-labelledby="editDeviceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="editDeviceModalLabel">Edit Device</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editDeviceForm" method="post">
                    {% csrf_token %}
                    <input type="hidden" id="editDeviceId" name="device_id">
                    <div class="mb-4">
                        <label for="editDeviceName" class="form-label fw-bold">Name</label>
                        <input type="text" class="form-control" id="editDeviceName" name="name" required>
                    </div>
                    <div class="mb-4">
                        <label for="editDeviceDescription" class="form-label fw-bold">Description</label>
                        <textarea class="form-control" id="editDeviceDescription" name="description" rows="3" required></textarea>
                    </div>
                    <div class="mb-4">
                        <label for="editDeviceSerialNumber" class="form-label fw-bold">Serial Number</label>
                        <input type="text" class="form-control" id="editDeviceSerialNumber" name="serial_number" required>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header bg-light">
                            <h6 class="mb-0">Category</h6>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="editDeviceCategoryModal" class="form-label">Category</label>
                                    <select class="form-select" id="editDeviceCategoryModal" name="category" required>
                                        <option value="">Select a category</option>
                                        {% for category in categories %}
                                            <option value="{{ category.id }}">{{ category.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="editDeviceSubcategoryModal" class="form-label">Subcategory</label>
                                    <select class="form-select" id="editDeviceSubcategoryModal" name="subcategory" required>
                                        <option value="">Select a Category first</option>
                                        {% for subcategory in subcategories %}
                                            <option value="{{ subcategory.id }}" data-category="{{ subcategory.category_id }}" style="display:none;">{{ subcategory.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header bg-light">
                            <h6 class="mb-0">Location</h6>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <label for="editDeviceBuildingModal" class="form-label">Building</label>
                                    <select class="form-select" id="editDeviceBuildingModal" name="building" required>
                                        <option value="">Select a building</option>
                                        {% for building in buildings %}
                                            <option value="{{ building.id }}">{{ building.acronym }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="editDeviceFloorModal" class="form-label">Floor</label>
                                    <select class="form-select" id="editDeviceFloorModal" name="floor" required>
                                        <option value="">Select a Building first</option>
                                        {% for floor in floors %}
                                            <option value="{{ floor.id }}" data-building="{{ floor.building_id }}" style="display:none;">{{ floor.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="editDeviceRoomModal" class="form-label">Room</label>
                                    <select class="form-select" id="editDeviceRoomModal" name="room" required>
                                        <option value="">Select a Building and a Floor first</option>
                                        {% for room in rooms %}
                                            <option value="{{ room.id }}" data-floor="{{ room.floor_id }}" style="display:none;">{{ room.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="resetEditForm">Reset</button>
                <button type="submit" form="editDeviceForm" class="btn btn-primary">Save Changes</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.0.8/css/dataTables.bootstrap5.min.css">
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<!-- DataTables -->
<script type="text/javascript" src="https://cdn.datatables.net/2.0.8/js/dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/2.0.8/js/dataTables.bootstrap5.min.js"></script>

<script>
document.addEventListener('DOMContentLoaded', function() {
            // Edit Device
    document.querySelectorAll('.edit-device').forEach(btn => {
        btn.addEventListener('click', function() {
            const deviceId = this.getAttribute('data-device-id');
            editDevice(deviceId);
        });
    });

    // Delete Device
    document.querySelectorAll('.delete-device').forEach(btn => {
        btn.addEventListener('click', function() {
            const deviceId = this.getAttribute('data-device-id');
            deleteDevice(deviceId);
        });
    });
    let table = new DataTable('#deviceTable', {
        responsive: true,
        pageLength: 10,
        lengthMenu: [[5, 10, 15, 20, 25], [5, 10, 15, 20, 25]],
        dom: '<"row"<"col-12 col-lg-6 text-sm-center text-lg-start mb-1"li><"col-12 col-lg-6 d-flex justify-content-sm-center justify-content-lg-end p-0 mb-1"p>>rt<"clear">',
        language: {
            search: "_INPUT_",
            searchPlaceholder: "Search...",
            lengthMenu: "Show _MENU_ per page",
            paginate: {
                first: "First",
                last: "Last",
                next: "Next",
                previous: "Previous"
            }
        },
        order:[[0,'desc']],
        orderCellsTop: true,
        scrollX: true,
        autoWidth: true,
        columnDefs: [
            { width: '40px', targets: 0 },   // ID
            { 
                width: '100px',
                targets: 2, // Assuming S/N is the 3rd column (index 2)
                render: function(data, type, row) {
                    if (type === 'display') {
                        return '<div style="word-break: break-all; max-width: 100px;">' + data + '</div>';
                    }
                    return data;
                }
            },
            { width: '25px', targets: 6 },  // S/N
            { width: '25px',targets: 7},
            { width: '10%',targets: 8, orderable: false},
        ],
        initComplete: function (settings, json) {
            
            this.api().columns().every(function (index) {
                let column = this;
                    let input = document.querySelector('.search-row th:nth-child(' + (index + 1) + ') input');                
                if (input) {
                    input.addEventListener('keyup', () => {
                        if (column.search() !== input.value) {
                            column.search(input.value).draw();
                        }
                    });
                }
            });
        }
    });

    // Add Device form submission
    const addDeviceForm = document.getElementById('addDeviceForm');
    if (addDeviceForm) {
        addDeviceForm.addEventListener('submit', function(event) {
            event.preventDefault();
            const formData = new FormData(this);

            fetch('{% url "add_device" %}', {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                },
                body: formData,
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {

                    // Close the Add Device modal
                    var addDeviceModal = bootstrap.Modal.getInstance(document.getElementById('addDeviceModal'));
                    addDeviceModal.hide();

                    Toastify({
                        text: data.success,
                        position: 'center',
                        backgroundColor: 'green',
                        className: 'success-toast',
                        duration: 1000,
                        callback: function() {
                            var confirmationModal = new bootstrap.Modal(document.getElementById('confirmationModal'));
                            confirmationModal.show();
                        }
                    }).showToast();

                    // Handle the click event on the "Yes" button in the confirmation modal
                    document.getElementById('cancelRedirect').addEventListener('click', function() {
                        window.location.href = `/devices/`;
                    });
                    // Handle the click event on the "Yes" button in the confirmation modal
                    document.getElementById('confirmRedirect').addEventListener('click', function() {
                        window.location.href = `/device/${data.device_pk}/`;
                    });


                } else if (data.error) {
                    Toastify({
                        text: data.error,
                        position:'center',
                        backgroundColor: 'red',
                        className: 'error-toast',
                    }).showToast();
                }
            })
            .catch(error => console.error('Error:', error));
        });
    }

    // Category and subcategory handling in the modal
    const deviceCategoryModal = document.getElementById('deviceCategoryModal');
    if (deviceCategoryModal) {
        deviceCategoryModal.addEventListener('change', function() {
            selectorHandler([deviceCategoryModal, document.getElementById('deviceSubcategoryModal')], "/get_subcategories/?category_id", ["Category", "Subcategory"], true);
        });
    }

    // Building, floor, and room handling in the modal
    const deviceBuildingModal = document.getElementById('deviceBuildingModal');
    const deviceFloorModal = document.getElementById('deviceFloorModal');
    if (deviceBuildingModal) {
        deviceBuildingModal.addEventListener('change', function() {
            selectorHandler([deviceBuildingModal, deviceFloorModal, document.getElementById('deviceRoomModal')], "/get_floors/?building_id", ["Building", "Floor", "Room"], true);
        });
    }
    if (deviceFloorModal) {
        deviceFloorModal.addEventListener('change', function() {
            selectorHandler([deviceFloorModal, document.getElementById('deviceRoomModal')], "/get_rooms/?floor_id", ["Floor", "Room"], true);
        });
    }

    // Edit Device form submission
    const editDeviceForm = document.getElementById('editDeviceForm');
    if (editDeviceForm) {
        editDeviceForm.addEventListener('submit', function(event) {
            event.preventDefault();
            const formData = new FormData(this);

            fetch('{% url "edit_device" %}', {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                },
                body: formData,
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    Swal.fire('Success', 'Device updated successfully', 'success').then(() => {
                        location.reload();
                    });
                } else {
                    Swal.fire('Error', data.message || 'Failed to update device', 'error');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                Swal.fire('Error', 'An unexpected error occurred', 'error');
            });
        });
    }

    // Update event listeners
    document.getElementById('editDeviceCategoryModal').addEventListener('change', function() {
        updateOptions('editDeviceSubcategoryModal', 'category', this.value);
        document.getElementById('editDeviceSubcategoryModal').value = '';
    });

    document.getElementById('editDeviceBuildingModal').addEventListener('change', function() {
        updateOptions('editDeviceFloorModal', 'building', this.value);
        document.getElementById('editDeviceFloorModal').value = '';
        document.getElementById('editDeviceRoomModal').value = '';
    });

    document.getElementById('editDeviceFloorModal').addEventListener('change', function() {
        updateOptions('editDeviceRoomModal', 'floor', this.value);
        document.getElementById('editDeviceRoomModal').value = '';
    });

    // Edit Device Function
    function editDevice(deviceId) {
        fetch(`{% url 'edit_device' %}?device_id=${deviceId}`, {
            method: 'GET',
            headers: {
                'X-Requested-With': 'XMLHttpRequest',
                'X-CSRFToken': '{{ csrf_token }}',
            },
        })
        .then(response => response.json())
        .then(data => {
        if (data.success) {
            window.editingDevice = data.device;
            populateEditForm(data.device);
            var editDeviceModal = new bootstrap.Modal(document.getElementById('editDeviceModal'));
            editDeviceModal.show();
        } else {
            Swal.fire('Error', data.message || 'Failed to load device data', 'error');
        }
    })
    .catch(error => {
        console.error('Error:', error);
        Swal.fire('Error', 'An unexpected error occurred', 'error');
    });
}

    function populateEditForm(device) {
        document.getElementById('editDeviceId').value = device.id;
        document.getElementById('editDeviceName').value = device.name;
        document.getElementById('editDeviceDescription').value = device.description;
        document.getElementById('editDeviceSerialNumber').value = device.serial_number;
        
        const categorySelect = document.getElementById('editDeviceCategoryModal');
        categorySelect.value = device.category;
        updateOptions('editDeviceSubcategoryModal', 'category', device.category);
        
        const buildingSelect = document.getElementById('editDeviceBuildingModal');
        buildingSelect.value = device.building;
        updateOptions('editDeviceFloorModal', 'building', device.building);
        
        document.getElementById('editDeviceSubcategoryModal').value = device.subcategory;
        document.getElementById('editDeviceFloorModal').value = device.floor;

        updateOptions('editDeviceRoomModal', 'floor', device.floor);
        document.getElementById('editDeviceRoomModal').value = device.room;
    }
    
    function updateOptions(selectId, parentAttribute, parentValue) {
        const select = document.getElementById(selectId);
        Array.from(select.options).forEach(option => {
            if (option.dataset[parentAttribute] === parentValue.toString()) {
                option.style.display = '';
            } else {
                option.style.display = 'none';
            }
        });
    }

    // Add reset functionality
    document.getElementById('resetEditForm').addEventListener('click', function() {
        if (window.editingDevice) {
            populateEditForm(window.editingDevice);
        }
    });
    
    // Delete Device function
    function deleteDevice(device_id) {
    Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
    }).then((result) => {
        if (result.isConfirmed) {
            fetch(`{% url "delete_device" %}`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    'device_id': device_id
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    Swal.fire(
                        'Deleted!',
                        'The device has been deleted.',
                        'success'
                    ).then(() => {
                        location.reload();
                    });
                } else {
                    Swal.fire(
                        'Error!',
                        data.message || 'An error occurred while deleting the device.',
                        'error'
                    );
                }
            })
            .catch(error => {
                console.error('Error:', error);
                Swal.fire(
                    'Error!',
                    'An error occurred while deleting the device.',
                    'error'
                );
            });
        }
    });
}

    // Selector handlers
    function selectorHandler(selectors, url, modelNames, detailed_options) {
        for (var i = 1; i < selectors.length; i++) {
            if (detailed_options)
                selectors[i].innerHTML = `<option value="">Select a ${modelNames[0]} first</option>`;
            else
                selectors[i].innerHTML = `<option value="">All</option>`;
        }

        let value = selectors[0].value;
        if(value){
            fetch(`${url}=${value}`)
            .then(response => response.json())
            .then(data => {
                console.log(data)
                if (!(Array.isArray(data) && data.length === 0)) {
                    if (detailed_options)
                        selectors[1].innerHTML = `<option value="">Select a ${modelNames[1]}</option>`;
                    else 
                        selectors[1].innerHTML = `<option value="">All</option>`;

                    for (var i = 2; i < selectors.length; i++) {
                        if (detailed_options) 
                            selectors[i].innerHTML = `<option value="">Please select a ${modelNames[i-1]} first.</option>`;
                        else
                            selectors[i].innerHTML = `<option value="">All</option>`;
                    }
                    data.forEach(model => {
                        selectors[1].innerHTML += `<option value="${model.id}">${model.name}</option>`;
                    });
                } else {
                    if (detailed_options)
                        selectors[1].innerHTML = `<option value="">Please add a ${modelNames[1]} first</option>`;
                }
            })
            .catch(error => console.error('Error:', error));
        } 
    }

    // Category and Subcategory handling
    const deviceCategory = document.getElementById('deviceCategory');
    const deviceSubcategory = document.getElementById('deviceSubcategory');
    
    deviceCategory.addEventListener('change', function() {
        selectorHandler([deviceCategory, deviceSubcategory], "/get_subcategories/?category_id", ["Category", "Subcategory"], false);
        
        let selectedOption = this.options[this.selectedIndex];
        let selectedText = selectedOption ? selectedOption.textContent : '';
        
        if(selectedText === 'All') {
            table.column(4).search('').draw();
            table.column(3).search('').draw();
        } else {
            table.column(3).search(selectedText).draw();
        }
    });
    deviceSubcategory.addEventListener('change', function() {
        let selectedOption = this.options[this.selectedIndex];
        let selectedText = selectedOption ? selectedOption.textContent : '';
        
        if(selectedText === 'All') {
            table.column(4).search('').draw();
        } else {
            table.column(4).search(selectedText).draw();
        }
    });

    // Building, Floor, and Room handling
    const deviceBuilding = document.getElementById('deviceBuilding');
    const deviceFloor = document.getElementById('deviceFloor');
    const deviceRoom = document.getElementById('deviceRoom');

    deviceBuilding.addEventListener('change', function() {
        selectorHandler([deviceBuilding, deviceFloor, deviceRoom], "/get_floors/?building_id", ["Building", "Floor", "Room"], false);


        let selectedOption = this.options[this.selectedIndex];
        let selectedText = selectedOption ? selectedOption.textContent : '';
        
        if(selectedText === 'All') {
            table.column(7).search('').draw();
            table.column(6).search('').draw();
            table.column(5).search('').draw();
        } else {
            table.column(5).search(selectedText).draw();
        }
    });
    deviceFloor.addEventListener('change', function() {
        selectorHandler([deviceFloor, deviceRoom], "/get_rooms/?floor_id", ["Floor", "Room"], false);
        
        let selectedOption = this.options[this.selectedIndex];
        let selectedText = selectedOption ? selectedOption.textContent : '';
        
        if(selectedText === 'All') {
            table.column(7).search('').draw();
            table.column(6).search('').draw();
        } else {
            table.column(6).search(selectedText).draw();
        }
    });
    deviceRoom.addEventListener('change', function() {
        let selectedOption = this.options[this.selectedIndex];
        let selectedText = selectedOption ? selectedOption.textContent : '';
        
        if(selectedText === 'All') {
            table.column(7).search('').draw();
        } else {
            table.column(7).search(selectedText).draw();
        }
    });
});

</script>
{% endblock %}

