{% extends "devices/home.html" %}
{% load static %}

{% block content %}
<div class="container-fluid h-100 overflow-auto mt-2">
    <nav style="--bs-breadcrumb-divider: '>';background-color: #343a40;" aria-label="breadcrumb" class="sticky-top rounded" data-bs-theme="dark">
        <ol class="breadcrumb p-2 card-shadow rounded">
            <li class="breadcrumb-item"><a href="{% url 'homepage' %}" class="text-decoration-none"><i class="bi bi-house"></i> Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"><i class="bi bi-clipboard-data"></i> Inventory Management - {{ inventory.building.acronym}}</li>
        </ol>
    </nav>

    <div class="row p-1">
        <div class="col-12">
            <div class="row mb-3">
                <div class="col-12">
                    <div class="card card-shadow" data-bs-theme="dark" >
                        <div class="card-body">
                            <h5 class="card-title mb-3">Display Preferences <span class="float-end"><button id="saveDisplayPreferences" class="btn btn-sm btn-primary"><i class="bi bi-floppy me-2"></i> Save</button></span> 
                            </h5>
                            
                            <hr class="border-2"/>
                            <div class="row justify-content-center ">
                                <div class="col-md-4 mb-1">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="showCurrentInventory">
                                        <label class="form-check-label " for="showCurrentInventory">Current Inventory</label>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="showInventorizationLists">
                                        <label class="form-check-label " for="showInventorizationLists">Inventorization Lists</label>
                                    </div>
                                </div>
                                <div class="col-md-4">

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>            
            

            <div id="currentInventoryCard" class="card card-shadow-light mb-4">
                <div class="card-header card-shadow text-light bg-info">
                    <h5 class="card-title mb-0">Current Inventory</h5>
                </div>
                <div class="card-body">
                    <!-- Statistics Section -->
                     <h5 class="mb-3">Statistics</h5>
                    <div class="row mb-3">
                        <div class="col-6 col-md-4 mb-1">
                            <div class="card pb-1">
                                <div class="card-body ">
                                    <h6 class="card-title">Total Devices</h6>
                                    <p class="card-text" id="totalDevices">{{ total_devices }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 mb-1">
                            <div class="card pb-1">
                                <div class="card-body">
                                    <h6 class="card-title">Last Updated</h6>
                                    <p class="card-text" id="lastUpdated">{{ last_updated }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-1">
                            <div class="card">
                                <div class="card-body">
                                    <h6 class="card-title">Actions</h6>
                                    <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#addDeviceModal">
                                        <i class="bi bi-plugin me-2"></i> Add Device
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <hr> 
                    <div class="row">
                        <div class="col-12">
                            <h5 class="mb-3">Device List</h5>
                            {% include 'devices/current_inventory_table.html' %}
                        </div>
                    </div>
                </div>
            </div>

            <div id="inventorizationListsCard" class="card card-shadow-light mb-4">
                <div class="card-header card-shadow bg-primary text-white">
                    <h5 class="card-title mb-0">Inventorization Lists</h5>
                </div>
                <div class="card-body">
                    <h5 class="mb-3">Statistics</h5>
                    <div class="row mb-3">
                        <div class="col-md-4 mb-2">
                            <div class="card pb-1">
                                <div class="card-body">
                                    <h6 class="card-title">Total Lists</h6>
                                    <p class="card-text" id="totalLists">{{ total_lists }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-2">
                            <div class="card pb-1">
                                <div class="card-body">
                                    <h6 class="card-title">Completed Lists</h6>
                                    <p class="card-text" id="completedLists">{{ completed_lists }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-2">
                            <div class="card">
                                <div class="card-body">
                                    <h6 class="card-title">Actions</h6>
                                    <button id="startInventory" class="btn btn-sm btn-primary" data-inventory-id="{{inventory.id}}">
                                        <i class="bi bi-plus-circle me-2"></i>Start New Inventorization
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr> 
                    <div class="table-responsive">
                        <h5 class="mb-3">Lists</h5>
                        {% include 'devices/inventorization_list_table.html' %}
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="d-lg-none" style="padding-bottom:120px;">

    </div>
</div>


{% include 'devices/device_modals.html' %}

<!-- Start Inventory Modal -->
<div class="modal fade" id="startInventoryModal" tabindex="-1" aria-labelledby="startInventoryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header text-white border-bottom-0 dev-man-bg-center card-shadow">
                <h5 class="modal-title text-white" id="startInventoryModalLabel">Start New Inventory</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6> Are you sure you want to start a new Inventorization List ?</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="confirmStartInventory" data-inventory-id="{{inventory.id}}">Start Inventory</button>
            </div>
        </div>
    </div>
</div>

<!-- Add this modal for report type selection -->
<div class="modal fade" id="reportTypeModal" tabindex="-1" aria-labelledby="reportTypeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="reportTypeModalLabel">Choose Report Type</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <button class="btn btn-primary generate-report-type" data-type="pdf">PDF</button>
          <button class="btn btn-success generate-report-type" data-type="excel">Excel</button>
        </div>
      </div>
    </div>
</div>

{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.bootstrap5.min.css' %}">
{% endblock %}

{% block extra_js %}
{{ block.super }}

<script>
// DeviceTable - Pre - Overrides
document.addEventListener('DOMContentLoaded', function () {
//hideColumns(DeviceTable.table,[6]);
let inventoryId = {{ inventory.id }};
let buildingSelect = document.querySelector('#deviceTable .search-row th:nth-child(7) select');
console.log(buildingSelect);
if (buildingSelect) {
    Array.from(buildingSelect.options).forEach(option => {
        console.log(option.value == inventoryId,option.value,inventoryId);
        if (option.value == inventoryId) {
            option.selected = true;
        } else {
            option.style.display = 'none';
        }
    });
}
});
</script>
<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'js/dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap5.min.js' %}"></script>
<script src="{% static 'js/inventory_management.js' %}"></script>
<script src="{% static 'js/inventorization_list_table.js' %}"></script>
<script src="{% static 'js/device_modals.js' %}"></script>
<script src="{% static 'js/device_table.js' %}"></script>
<script>
    // DeviceTable - Post - Overrides
    document.addEventListener('DOMContentLoaded', function () {
        hideColumns(DeviceTable.table,[6,7]);
    });
</script>
{% endblock %}
