{% extends "devices/home.html" %}
{% load static %}

{% block content %}
<div class="container-fluid h-100 overflow-auto mt-2" style="overflow-y: auto;">
    <nav style="--bs-breadcrumb-divider: '>';background-color: #343a40;;" aria-label="breadcrumb" class="sticky-top  rounded" data-bs-theme="dark">
        <ol class="breadcrumb  p-2 card-shadow rounded">
          <li class="breadcrumb-item"><a href="{% url 'homepage' %}" class="text-decoration-none"><i class="bi bi-house"></i> Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'inventory_management' inventory.id %}" class="text-decoration-none"><i class="bi bi-clipboard-data"></i> Inventory Management - {{ inventory.building.acronym}}</a></li>
          <li class="breadcrumb-item active" aria-current="page">Inventory #{{ inventory_list.id }}</li>
        </ol>
    </nav>
    
    <div class="row p-1">
        <div class="col">
            <h3 class="mb-3">Inventory Details</h3>
    
            <div class="row mb-3">
                <!-- General Information Card -->
                <div class="col-md-8">
                    <div class="card h-100">
                        <div class="card-header">
                            <h2 class="h5 mb-0">General Information</h2>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <p><strong>ID:</strong> {{ inventory_list.id }}</p>
                                    <p><strong>Creator:</strong> {{ inventory_list.creator.username }}</p>
                                    <p><strong>Building:</strong> {{ inventory_list.building.name }}</p>
                                    <p><strong>Start Date:</strong> {{ inventory_list.start_date }}</p>
                                    <p><strong>End Date:</strong> {{ inventory_list.end_date|default:"Not ended" }}</p>
                                </div>
                                <div class="col-md-6">
                                    <p><strong>Status:</strong> 
                                        {% if inventory_list.status == 'ACTIVE' %}
                                            <span class="badge text-success bg-light border border-success"><i class="bi bi-play-circle-fill me-1"></i>Active</span>
                                        {% elif inventory_list.status == 'PAUSED' %}
                                            <span class="badge bg-warning text-dark"><i class="bi bi-pause-circle-fill me-1"></i>Paused</span>
                                        {% elif inventory_list.status == 'CANCELED' %}
                                            <span class="badge bg-danger"><i class="bi bi-x-circle-fill me-1"></i>Canceled</span>
                                        {% elif inventory_list.status == 'COMPLETED' %}
                                            <span class="badge bg-success text-white"><i class="bi bi-check-circle-fill me-1"></i>Completed</span>
                                        {% elif inventory_list.status == 'UNKNOWN' %}
                                            <span class="badge bg-secondary text-white"><i class="bi bi-question-circle-fill me-1"></i>Unknown</span>
                                        {% endif %}
                                    </p>
                                    <p><strong>Scope:</strong> {{ inventory_list.get_scope_display }}</p>
                                    <p><strong>Total Devices:</strong> {{ total_devices }}</p>
                                    <p><strong>Scanned Devices:</strong> {{ total_scanned }} / {{ total_devices }}</p>
                                </div>
                            </div>
                            <div class="progress mt-3">
                                <div class="progress-bar" role="progressbar" style="width: {% widthratio total_scanned total_devices 100 %}%;" aria-valuenow="{{ total_scanned }}" aria-valuemin="0" aria-valuemax="{{ total_devices }}">
                                    {% widthratio total_scanned total_devices 100 %}%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
                <!-- Actions Card -->
                <div class="col-md-4">
                    <div class="card h-100">
                        <div class="card-header">
                            <h2 class="h5 mb-0">Actions</h2>
                        </div>
                        <div class="card-body d-flex flex-column justify-content-center">
                                
                            <h5 class="card-title">Status: Active/Paused</h5>
                            {% if inventory_list.status == 'COMPLETED' or inventory_list.status == 'CANCELED' %}
                                <button class="btn btn-warning mb-2 disabled">
                                    <i class="bi bi-pause-fill"></i> Pause Inventory
                                </button>
                                <button class="btn btn-danger mb-2 disabled">
                                    <i class="bi bi-stop-circle-fill"></i> End Inventory
                                </button>
                                <button class="btn btn-secondary mb-2 disabled">
                                    <i class="bi bi-x-circle-fill"></i> Cancel Inventory
                                </button>
                            {% else %}
                                {% if inventory_list.status == 'ACTIVE' %}
                                    <button class="btn btn-warning mb-2 pause-resume" data-inventory-id="{{ inventory_list.id }}" data-action="pause">
                                        <i class="bi bi-pause-fill"></i> Pause Inventory
                                    </button>
                                {% elif inventory_list.status == 'PAUSED' %}
                                    <button class="btn btn-success mb-2 pause-resume" data-inventory-id="{{ inventory_list.id }}" data-action="resume">
                                        <i class="bi bi-play-fill"></i> Resume Inventory
                                    </button>
                                {% endif %}
                                {% if inventory_list.status == 'ACTIVE' or inventory_list.status == 'PAUSED' %}
                                    <button class="btn btn-danger mb-2 end-inventory" data-inventory-id="{{ inventory_list.id }}">
                                        <i class="bi bi-stop-circle-fill"></i> End Inventory
                                    </button>
                                    <button class="btn btn-secondary mb-2 cancel" data-inventory-id="{{ inventory_list.id }}">
                                        <i class="bi bi-x-circle-fill"></i> Cancel Inventory
                                    </button>
                                {% endif %}
                            {% endif %}

                                <h5 class="card-title mt-3">Status: Complete/Canceled</h5>
                                {% if inventory_list.status == 'COMPLETED' %}
                                <button class="btn btn-primary mb-2 generate-report" data-inventory-id="{{ inventory_list.id }}">
                                    <i class="bi bi-file-earmark-text"></i> Generate Report
                                </button>
                                {% else %} 
                                <button class="btn btn-primary mb-2 disabled">
                                    <i class="bi bi-file-earmark-text"></i> Generate Report
                                </button>
                                {% endif %}
                            

                        </div>
                    </div>
                </div>
            </div>
        
            <!-- Rooms and Devices Section -->
            <div class="card mb-3">
                <div class="card-header">
                    <h2 class="h5 mb-0">Devices to be Scanned</h2>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="deviceTable" class="table table-sm table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>S/N</th>
                                    <th>Category</th>
                                    <th>Subcategory</th>
                                    <th>Owner</th>
                                    <th>Building</th>
                                    <th>Floor</th>
                                    <th>Room</th>
                                    <th>Scanned</th>
                                </tr>
                                <tr class="search-row">
                                    <th><input type="text" placeholder="Search ID" class="form-control form-control-sm"></th>
                                    <th><input type="text" placeholder="Search Name" class="form-control form-control-sm"></th>
                                    <th><input type="text" placeholder="Search S/N" class="form-control form-control-sm"></th>
                                    <th>
                                        <select id="deviceCategory" class="form-select form-select-sm">
                                            <option value="">All</option>
                                            {% for category in categories %}
                                                <option value="{{ category.id }}">{{ category.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </th>
                                    <th>
                                        <select id="deviceSubcategory" class="form-select form-select-sm">
                                            <option value="">All</option>
                                        </select>
                                    </th>
                                    <th><input type="text" placeholder="Search Owner" class="form-control form-control-sm"></th>
                                    <th>
                                        <select id="deviceBuilding" class="form-select form-select-sm">
                                            <option value="">All</option>
                                            {% for building in buildings %}
                                                <option value="{{ building.id }}">{{ building.acronym }}</option>
                                            {% endfor %}
                                        </select>
                                    </th>
                                    <th>
                                        <select id="deviceFloor" class="form-select form-select-sm">
                                            <option value="">All</option>
                                        </select>
                                    </th>
                                    <th>
                                        <select id="deviceRoom" class="form-select form-select-sm">
                                            <option value="">All</option>
                                        </select>
                                    </th>                                    
                                    <th><input type="text" placeholder="Scanned ?" class="form-control form-control-sm"></th>

                                                                    </tr>
                            </thead>
                            <tbody>
                                {% for device in devices %}
                                <tr >
                                    <td>{{ device.id }}</td>
                                    <td><a href="{% url 'device_detail' device.id %}">{{ device.name }}</a></td>
                                    <td>{{ device.serial_number }}</td>
                                    <td>{{ device.category.name }}</td>
                                    <td>{{ device.subcategory.name }}</td>
                                    <td>{{ device.owner }}</td>
                                    <td>{{ device.building.acronym }}</td>
                                    <td>{{ device.floor.name }}</td>
                                    <td>{{ device.room.name }}</td>
                                    <td class="text-center">
                                        {% if device.id in scanned_devices %}
                                        <span class="badge bg-success"><i class="bi bi-check-lg"></i> Yes</span>
                                    {% else %}
                                        <span class="badge bg-danger"><i class="bi bi-x-lg"></i> No</span>
                                    {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="d-lg-none mb-5 pb-5 pt-5">

            </div>
        </div>
    </div>
</div>

<!-- Add this modal for report type selection -->
<div class="modal fade" id="reportTypeModal" tabindex="-1" aria-labelledby="reportTypeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="reportTypeModalLabel">Choose Report Type</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <button class="btn btn-primary generate-report-type" data-type="pdf">PDF</button>
          <button class="btn btn-success generate-report-type" data-type="excel">Excel</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}



{% block extra_js %}
{{ block.super }}
{{ qr_scan_message|json_script:"qr-scan-message" }}
<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'js/dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap5.min.js' %}"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    // DataTable initialization
    let table = new DataTable('#deviceTable', {
        responsive: true,
        pageLength: 10,
        lengthMenu: [[5, 10, 15, 20, 25], [5, 10, 15, 20, 25]],
        dom: '<"row"<"col-12 col-lg-6 text-center text-lg-start mb-1"li><"col-12 col-lg-6 d-flex justify-content-center justify-content-lg-end p-0 mb-1"p>>rt<"clear">',
        language: {
            search: "_INPUT_",
            searchPlaceholder: "Global Search...",
            lengthMenu: "Show _MENU_ per page",
            paginate: {
                first: "First",
                last: "Last",
                next: ">",
                previous: "<"
            }
        },
        order: [[9, 'asc']],
        orderCellsTop: true,
        scrollX: true,
        autoWidth: true,
        columnDefs: [
            { width: '40px', targets: 0 },
            { 
                width: '100px',
                targets: 1,
                render: function(data, type, row) {
                    if (type === 'display') {
                        return '<div style="word-break: break-all; max-width: 100px;">' + data + '</div>';
                    }
                    return data;
                }

            },   // ID
            { 
                width: '120px',
                targets: 2, // Assuming S/N is the 3rd column (index 2)
                render: function(data, type, row) {
                    if (type === 'display') {
                        return '<div style="word-break: break-all; max-width: 120px;">' + data + '</div>';
                    }
                    return data;
                }
            },
            { width: '50px', targets: 3 },
            { width: '50px', targets: 4 },
            { width: '100px', targets: 5 },
            { width: '75px', targets: 6 },
            { width: '50px', targets: 7 },
            { width: '50px', targets: 8 },
            { width: '100px', targets: 9 },
        ],
        initComplete: function() {
            this.api().columns().every(function (index) {
                let column = this;
                    let input = document.querySelector('.search-row th:nth-child(' + (index + 1) + ') input');                
                if (input) {
                    input.addEventListener('keyup', () => {
                        if (column.search() !== input.value) {
                            column.search(input.value).draw();
                        }
                    });
                }
            });
        }
    });

        // Selector handlers
    function selectorHandler(selectors, url, modelNames, detailed_options) {
    for (var i = 1; i < selectors.length; i++) {
        if (detailed_options)
            selectors[i].innerHTML = `<option value="">Select a ${modelNames[0]} first</option>`;
        else
            selectors[i].innerHTML = `<option value="">All</option>`;
    }

    let value = selectors[0].value;
    if(value){
        fetch(`${url}=${value}`)
        .then(response => response.json())
        .then(data => {
            console.log(data)
            if (!(Array.isArray(data) && data.length === 0)) {
                if (detailed_options)
                    selectors[1].innerHTML = `<option value="">Select a ${modelNames[1]}</option>`;
                else 
                    selectors[1].innerHTML = `<option value="">All</option>`;

                for (var i = 2; i < selectors.length; i++) {
                    if (detailed_options) 
                        selectors[i].innerHTML = `<option value="">Please select a ${modelNames[i-1]} first.</option>`;
                    else
                        selectors[i].innerHTML = `<option value="">All</option>`;
                }
                data.forEach(model => {
                    selectors[1].innerHTML += `<option value="${model.id}">${model.name}</option>`;
                });
            } else {
                if (detailed_options)
                    selectors[1].innerHTML = `<option value="">Please add a ${modelNames[1]} first</option>`;
            }
        })
        .catch(error => console.error('Error:', error));
    } 
}

    // Category and Subcategory handling
    const deviceCategory = document.getElementById('deviceCategory');
    const deviceSubcategory = document.getElementById('deviceSubcategory');
    
    deviceCategory.addEventListener('change', function() {
        selectorHandler([deviceCategory, deviceSubcategory], "/get_subcategories/?category_id", ["Category", "Subcategory"], false);
        
        let selectedOption = this.options[this.selectedIndex];
        let selectedText = selectedOption ? selectedOption.textContent : '';
        
        if(selectedText === 'All') {
            table.column(4).search('').draw();
            table.column(3).search('').draw();
        } else {
            table.column(3).search(selectedText).draw();
        }
    });
    deviceSubcategory.addEventListener('change', function() {
        let selectedOption = this.options[this.selectedIndex];
        let selectedText = selectedOption ? selectedOption.textContent : '';
        
        if(selectedText === 'All') {
            table.column(4).search('').draw();
        } else {
            table.column(4).search(selectedText).draw();
        }
    });

    // Building, Floor, and Room handling
    const deviceBuilding = document.getElementById('deviceBuilding');
    const deviceFloor = document.getElementById('deviceFloor');
    const deviceRoom = document.getElementById('deviceRoom');

    deviceBuilding.addEventListener('change', function() {
        selectorHandler([deviceBuilding, deviceFloor, deviceRoom], "/get_floors/?building_id", ["Building", "Floor", "Room"], false);


        let selectedOption = this.options[this.selectedIndex];
        let selectedText = selectedOption ? selectedOption.textContent : '';
        
        if(selectedText === 'All') {
            table.column(8).search('').draw();
            table.column(7).search('').draw();
            table.column(6).search('').draw();
        } else {
            table.column(6).search(selectedText).draw();
        }
    });
    deviceFloor.addEventListener('change', function() {
        selectorHandler([deviceFloor, deviceRoom], "/get_rooms/?floor_id", ["Floor", "Room"], false);
        
        let selectedOption = this.options[this.selectedIndex];
        let selectedText = selectedOption ? selectedOption.textContent : '';
        
        if(selectedText === 'All') {
            table.column(8).search('').draw();
            table.column(7).search('').draw();
        } else {
            table.column(7).search(selectedText).draw();
        }
    });
    deviceRoom.addEventListener('change', function() {
        let selectedOption = this.options[this.selectedIndex];
        let selectedText = selectedOption ? selectedOption.textContent : '';
        
        if(selectedText === 'All') {
            table.column(8).search('').draw();
        } else {
            table.column(8).search(selectedText).draw();
        }
    });


    const qrScanMessage = JSON.parse(document.getElementById('qr-scan-message')?.textContent || '{}');
    if (qrScanMessage.text && qrScanMessage.type) {
        showAlert(qrScanMessage.text, qrScanMessage.type);
    }


    // Action buttons functionality
    document.querySelectorAll('.pause-resume').forEach(btn => {
        btn.addEventListener('click', function() {
            const inventoryId = this.getAttribute('data-inventory-id');
            const action = this.getAttribute('data-action');
            pauseResumeInventory(inventoryId, action);
        });
    });

    document.querySelectorAll('.cancel').forEach(btn => {
        btn.addEventListener('click', function() {
            const inventoryId = this.getAttribute('data-inventory-id');
            cancelInventory(inventoryId);
        });
    });


    document.querySelectorAll('.generate-report').forEach(btn => {
    btn.addEventListener('click', function() {
        const inventoryId = this.getAttribute('data-inventory-id');
        const modal = new bootstrap.Modal(document.getElementById('reportTypeModal'));
        modal.show();

        document.querySelectorAll('.generate-report-type').forEach(typeBtn => {
            typeBtn.onclick = function() {
                const reportType = this.getAttribute('data-type');
                generateReport(inventoryId, reportType);
                modal.hide();
            };
        });
    });
    });


    function pauseResumeInventory(inventoryId, action) {
    showConfirmation(
        'Confirm Action',
        `Are you sure you want to ${action} this inventory?`,
        `Yes, ${action} it!`,
        'Cancel'
    ).then((result) => {
        if (result.isConfirmed) {
            fetch('{% url "api_pause_resume_inventory" %}', {
                method: 'POST',
                headers: {
                    'X-CSRFToken': getCookie('csrftoken'),
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    inventory_id: inventoryId,
                    action: action
                }),
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    showAlertAndReload(data.message || `Inventory ${action}d successfully`,'success');
                } else {
                    showAlert(data.message || `Failed to ${action} inventory`, 'error');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                showAlert('An error occurred while'+ action + 'ing the inventory', 'error');
            });
        }
    });
}

    function cancelInventory(inventoryId) {
        showConfirmation(
            'Cancel Inventory',
            'Are you sure you want to cancel this inventory? This action cannot be undone.',
            'Yes, cancel it!',
            'No, keep it'
        ).then((result) => {
            if (result.isConfirmed) {
                fetch('{% url "api_cancel_inventory" %}', {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': getCookie('csrftoken'),
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        inventory_id: inventoryId
                    }),
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        showAlertAndReload('Inventory canceled successfully', 'success');   
                    } else {
                        showAlert(data.message || 'Failed to cancel inventory', 'error');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    showAlert('An error occurred while canceling the inventory', 'error');
                });
            }
        });
    }

    document.querySelector('.end-inventory').addEventListener('click', function() {
        const inventoryId = this.getAttribute('data-inventory-id');
        endInventory(inventoryId);
    });

    function endInventory(inventoryId) {
        showConfirmation(
            'End Inventory',
            'Are you sure you want to end this inventory? This action cannot be undone.',
            'Yes, end it!',
            'No, keep it active'
        ).then((result) => {
            if (result.isConfirmed) {
                fetch(`/inventory/end/`, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': getCookie('csrftoken'),
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                            inventory_id: inventoryId
                    }),
                })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'success') {
                        showAlertAndReload('Inventory ended successfully', 'success');
                    } else {
                        showAlert(data.message || 'Failed to end inventory', 'error');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    showAlert('An error occurred while ending the inventory', 'error');
                });
            }
        });
    }


    function generateReport(inventoryId, reportType) {
        const form = document.createElement('form');
        form.method = 'POST';
        form.action = `/api/inventory/${inventoryId}/generate-report/`;
        
        const csrfInput = document.createElement('input');
        csrfInput.type = 'hidden';
        csrfInput.name = 'csrfmiddlewaretoken';
        csrfInput.value = getCookie('csrftoken');
        form.appendChild(csrfInput);

        const typeInput = document.createElement('input');
        typeInput.type = 'hidden';
        typeInput.name = 'report_type';
        typeInput.value = reportType;
        form.appendChild(typeInput);

        document.body.appendChild(form);
        form.submit();
        document.body.removeChild(form);
    }


    // Helper function to get CSRF token
    function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    });
</script>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.bootstrap5.min.css' %}">
{% endblock %}
