{% load tz %}
<div class="table-responsive">
    <table id="inventorizationTable" class="table table-hover table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Inventory Name</th>
                <th>Creator</th>
                <th>Status</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Actions</th>
            </tr>
            <tr class="search-row">
                <th><input type="text" placeholder="&#128269; ID" class="form-control form-control-sm"></th>
                <th><input type="text" placeholder="Search Inventory" class="form-control form-control-sm"></th>
                <th><input type="text" placeholder="Search Creator" class="form-control form-control-sm"></th>
                <th>
                    <select class="form-select form-select-sm">
                        <option value="">All</option>
                        <option value="ACTIVE">Active</option>
                        <option value="PAUSED">Paused</option>
                        <option value="CANCELED">Canceled</option>
                        <option value="COMPLETED">Completed</option>
                        <option value="UNKNOWN">Unknown</option>
                    </select>
                </th>
                <th><input type="text" placeholder="Search Start Date" class="form-control form-control-sm"></th>
                <th><input type="text" placeholder="Search End Date" class="form-control form-control-sm"></th>
                <th></th>
            </tr>
        </thead>
        
    <tbody>
        {% for inventory in inventorization_lists %}
        <tr>
            <td>{{ inventory.id }}</td>
            <td><a href="{% url 'inventory_detail' inventory.id %}">Inventory {{ inventory.id }} - {{ inventory.building.acronym }}</a></td>
            <td>{{ inventory.creator.username }}</td>
            <td>    
                {% if inventory.status == 'ACTIVE' %}
                    <span class="badge text-success bg-light border border-success"><i class="bi bi-play-circle-fill me-1"></i>Active</span>
                {% elif inventory.status == 'PAUSED' %}
                    <span class="badge bg-warning text-dark"><i class="bi bi-pause-circle-fill me-1"></i>Paused</span>
                {% elif inventory.status == 'CANCELED' %}
                    <span class="badge bg-danger"><i class="bi bi-x-circle-fill me-1"></i>Canceled</span>
                {% elif inventory.status == 'COMPLETED' %}
                    <span class="badge bg-success text-white"><i class="bi bi-check-circle-fill me-1"></i>Completed</span>
                {% elif inventory.status == 'UNKNOWN' %}
                    <span class="badge bg-secondary"><i class="bi bi-question-circle-fill me-1"></i>Unknown</span>
                {% else %}
                    <span class="badge bg-secondary">{{ inventory.get_status_display }}</span>
                {% endif %}
            </td>
            <td>{{ inventory.start_date|timezone:"Europe/Bucharest"|date:"M d, Y H:i:s" }}</td>
            <td>{{ inventory.end_date|timezone:"Europe/Bucharest"|date:"M d, Y H:i:s" }}</td>
            <td>
                <div class="container-fluid p-0">
                    <div class="row g-1">
                        {% if inventory.status == 'ACTIVE' %}
                        <div class="col mb-1">
                            <button class="btn btn-sm btn-warning pause-resume w-100" data-inventory-id="{{ inventory.id }}" data-action="pause" title="Pause">
                                <i class="bi bi-pause-fill"></i>
                            </button>
                        </div>
                        {% elif inventory.status == 'PAUSED' %}
                        <div class="col mb-1">
                            <button class="btn btn-sm btn-success pause-resume w-100" data-inventory-id="{{ inventory.id }}" data-action="resume" title="Resume">
                                <i class="bi bi-play-fill"></i>
                            </button>
                        </div>

                        {% elif inventory.status == 'COMPLETED' %}
                        <div class="col mb-1">
                            <button class="btn btn-sm btn-primary generate-report w-100" data-inventory-id="{{ inventory.id }}" title="Generate Report">
                                <i class="bi bi-file-earmark-text-fill"></i>
                            </button>
                        </div>
                        {% endif %}

                        {% if inventory.status != 'CANCELED' %}
                        <div class="col mb-1">
                            <button class="btn btn-sm btn-danger cancel w-100" data-inventory-id="{{ inventory.id }}" title="Cancel">
                                <i class="bi bi-trash3-fill"></i>
                            </button>
                        </div>
                        {% elif inventory.status == 'CANCELED' %}
                            -
                        {% endif %}
                    </div>
                </div>
            </td>                                   
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>